img{
    height: 15rem;
    width: 10rem;
}
#bp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.3rem;
    font-size: large;
    color: white;
    height: 3rem;
    background-color: rgb(91, 47, 47);
    border-radius: 0.2rem;
    text-align: center;
    line-height: 3rem;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(41, 139, 225);
    height: 2rem;
}
nav ul li{
    list-style:  none;
    height: 1rem;
    text-align: center;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.abc{
    display: flex;
}
.card{
    margin-left: 1rem;
    margin-right: 1rem;

}
footer{
    height: 10rem;
}